<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <form action="/" method="post">
        <div class="user">
            <label for="userName"></label>
            <input name="userName" id="userName" type="text" placeholder="Ingrese su usuario">
        </div>

        <div class="pass">
            <label for="password"></label>
            <input name="password" id="password" type="text" placeholder="Ingrese su contraseña">
        </div>

        <div class="button">
            <button type="submit">Enviar</button>
        </div>

    </form>

</body>

</html>