body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
    text-align: center;
}

.user,
.pass {
    padding: 20px;
}

form div input {
    width: 80%;
    padding: 10px;
    border-radius: 7px;
    border: transparent;
}

button {
    width: 82%;
    background-color: #1259c3;
    color: white;
    border-radius: 7px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #0022AA;
}

.button {
    padding: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
}